.api-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.2rem;
}

.api-selector{
  text-align: center;
  width: 15%;
}
.selector{
  border: 2px solid black;
  border-radius: 0.8rem;
  height: 3.5rem;
  width: 100%;
  font-size: 1.5rem;
  background: #00E4BF;
  outline: none;
}

.api-option{
  margin-top:10rem;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.search-input, .search-button, .add-params-button{
  font-size: 1.2rem;
  border-radius: 0.5rem;
  outline: none;
}
.search-input{
  width: 20rem;
}

.search-button, .add-params-button{
  cursor: pointer;
  background: none;
  transition: all 0.5s ease-in-out;
  box-shadow: 0.2rem 0.12rem 0.2rem #00E4BF;
}

.search-button{
  margin-left: 0.5rem;
}

.search-button:hover, .add-params-button:hover{
  background: #00E4BF;
}

.search-button:focus, .add-params-button:focus{
  box-shadow: none;
}

@media screen and (max-width: 600px){
  .api-selector{
    width: 50%;
  }

  .search-container{
    flex-direction: column;
  }

  .search-input, .search-button{
    margin-top: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .add-params-button{
    display: none;
  }
}