.params-container{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(48, 49, 56, 0.8);
  width: 25%;
  z-index: 2;
  overflow: scroll;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.display-params-container{
  transform: translateX(0);
}

.select-params-text{
  color: whitesmoke;
  margin: 0;
  color: whitesmoke;
  text-align: center;
}

.select-params-text{
  margin: 1rem;
}

.params-input-container{
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0.2rem;
}

.params-button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.params-button, .params-input{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.params-button{
  margin: 0.4rem;  
  border-radius: 0.4rem;
  cursor: pointer;
  background: whitesmoke;
  letter-spacing: 0.2rem;
  overflow-wrap: break-word;
  box-shadow: 0.1rem 0.1rem 0.1rem #00E4BF;
}

.params-button:hover{
  background: #00E4BF;
  box-shadow: 0.1rem 0.1rem 0.1rem white;
}

.params-button:focus{
  box-shadow: none;
  outline: none;
}

.params-input, .post-input{
  font-size: 1.5rem;
  border-radius: 0.4rem;
  margin: 0.3rem;
  outline-color: #00E4BF;
  outline-width: 0.6rem;
}

.params-input{
  display: none;
}

.show{
  display: inline;
}

.submit-params{
  position: relative;
  border-radius: 4px;
  background: linear-gradient(45deg, rgb(226, 245, 226), #00E4BF, #00E4BF);
  font-style: italic;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 0.3rem;
  margin: 0.5rem;
  min-width: 10rem;
  border: none;
  box-shadow: 3px 7px 7px rgb(196, 211, 196);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.submit-params:focus{
  outline: none;
  box-shadow: none;
}

.close-params{
  position: fixed;
  margin: 0.5rem;
  top: 0;
  left: 1%;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.close-params:hover{
  color: red;
  transform: scale(1.5);
}

.reference-links-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
}

.reference-links{
  margin: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: white;
  text-decoration: none;
}

.reference-links:hover{
  color: #00E4BF;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .params-input, .post-input{
    font-size: 1rem;
    margin: 0.5rem;
  }
}