.schedule-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.schedule-button{
  /* position: absolute; */
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background: linear-gradient(45deg, rgb(226, 245, 226), #00E4BF, #00E4BF);
  font-style: italic;
  letter-spacing: 2px;
  padding: 0.3rem;
  margin: 0.5rem;
  min-width: 10rem;
  border: none;
  box-shadow: 3px 7px 7px rgb(196, 211, 196);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.schedule-button:focus{
outline: none;
box-shadow: none;
}

.schedule-button:hover{
  background: #00E4BF;
}